/*
######################
# UTILIDADES
######################
*/

.wn-required > .control-label:after {
	content: "*";
}


/* Upload - http://getuikit.com/docs/upload.html */
.wn-upload {
	padding: 15px;
	
	border: 1px dashed #ddd;
	border-radius: 4px;
	background: #fafafa;
	
	text-align: center;
}

.wn-upload-form-file {
	display: inline-block;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
}

.wn-upload-form-file > input[type=file] {
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    
    font-size: 500px;
}

/*
######################
# COMPONENTES
######################
*/

/* Tabela Simples */
.bw-tabela-simples {
	margin-top: 15px;
}

.bw-tabela-simples table tr th {
	border-bottom-width: 1px;
}

.bw-tabela-simples table tr td {
    border-top: none;
    border-bottom: 1px solid #e7eaec;
    padding: 10px;
    vertical-align: middle;
}

/*
###################
# PÁGINAS DO SISTEMA
###################
*/

/* Tabela Cervejas página de Venda */
.wn-tabela-vinhos {
	margin-bottom: 15px;
}

.wn-tabela-vinhos__vazio {
	padding: 15px 15px;
	
	border: 1px dashed #ddd;
	
	text-align: center;
	font-size: 1.2em;
	font-weight: 300;
	color: #555;
}

/*
######################################
# CUSTOMIZAÇÃO DE COMPONENTES
######################################
*/

.checkbox input[type="checkbox"]:checked + input + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; 
}