<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>Listagem de vinhos</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>
						Listagem de vinhos
					</h1>
				</div>
			
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn btn-primary" th:href="@{/vinhos/novo}">
							<i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm">Novo vinho</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
	
	<div layout:include="mensagens/MensagemSucesso"></div>
	
		<div class="table-responsive">
			<table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
				<thead class="aw-table-header-solid">
					<tr>
						<th>Código</th>
						<th>Nome</th>
						<th>Classe do vinho</th>
						<th>Cor do vinho</th>
						<th>Teor de açucar</th>
						<th>Safra</th>
						<th>Volume</th>
						<th>Valor</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="vinho : ${vinhos}">
						<td th:text="${vinho.codigo}">1</td>
						<td><a th:href="@{/vinhos/{codigo}(codigo=${vinho.codigo})}" th:text="${vinho.nome}">Viña Amalia Dos Fincas Malbec</a></td>
						<td th:text="${vinho.classeVinho}">Mesa</td>
						<td th:text="${vinho.corVinho.descricao}">Tinto</td>
						<td th:text="${vinho.teorAcucar.descricao}">Seco</td>
						<td th:text="${vinho.safra}">2014</td>
						<td th:text="${vinho.volume}">750ml</td>
						<td th:text="${vinho.valor}">R$ 55,00</td>
						
						<td class="text-center">
	   						<a class="btn btn-link btn-xs" th:href="@{/vinhos/novo/{codigo}(codigo=${vinho.codigo})}">
	   							<span class="glyphicon glyphicon-pencil"></span>
	   						</a>
	   						<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
	   									th:attr="data-codigo=${vinho.codigo}, data-nome=${vinho.nome}">
	   							<span class="glyphicon glyphicon-remove"></span>
	   						</a>
	   					</td>
					</tr>
					<tr th:if="${vinhos.empty}">
						<td colspan="8">Nenhum vinho cadastrado</td>
					</tr>
					
				</tbody>
			</table>
		</div>
		
		<div layout:include="vinho/DialogoConfirmacaoExclusao"></div>
			
	</div>

</section>
</body>
</html>